
  <div class="bio_form">

<!-- render user experiences  -->

<!-- button to msg this user, request_id attached -->

  </div>


<!-- bliss should we just have name rating experience and button all in here? just until we have things working -->
