
  <div class="confirm_delete_msg">

  <p><strong> Are you sure you want to permanently delete your account?" </strong></p>
    <button> <%= link_to 'Delete', @user, method: :delete %> </button>

  </div>
