<div id="notifications_partial">

  <h4> Notifications </h4>
  <!--
  show past rating

  responders user.Name

  star rating

  points gianed -->




  <button id="clear_notifications">
    <%= link_to "Clear", user_url,  remote: true %>
  </button>

<!--
  $("#clear_notifications").click(function(){
      $("user_account_notifications").hide();
  }); -->

  </div>
