<h4> Notifications </h4>
<!--
show past rating

responders user.Name

star rating

points gianed -->


<div id="notifications_list">

<button> <%= link_to "Clear", :id => "close-it" %> </button>
<button> <%= image_tag("button.png", :id => "close-it") %> </button>

</div>
