html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: $blue;
  margin: 0.5rem;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: $black;
  margin: 0.2rem;
}
h4{
  margin: 0 0 $small-spacing;
  font-size: 1.3rem;
  font-weight: 400;
  color: shade($light-green, 30%);
}
h5{
  margin: 0 0 $small-spacing;
  font-size: 1.3rem;
  font-weight: 400;
  color: darken($light-blue, 10%);
}
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}


p {
  margin: 0 0 $small-spacing;
  font-size: 1.2rem;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;
  font-weight: 300;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
