  <div id="bio_form">

    <% @responders.each do |responder| %>
      <% if responder.experience != nil %>

        <p>
          <p>Education</p>
          <%= responder.experience.education %>
        </p>

        <p>
          <p>Job Experience</p>
          <%= responder.experience.job %>
        </p>

        <p>
          <p>Knowledge</p>
          <%= responder.experience.knowledge %>
        </p>

      <% else %>

        <p> Sorry! This user has not yet provided any extended bio information.</p>

      <% end %>
      </div>

        <div id="responder_message_btn">
          <%= button_to "Message me!",
          request_conversations_path(request_id: @request,
          sender_id: current_user.id,
          recipient_id: responder.id),
          method: "post", remote: true %>
        </div>

    <% end %>
