
<div id="bio_form">
<h2> hello </h2>

    <% @responders.each do |responder| %>
      <p> <strong>Education:</strong>
        <%= responder.experience.education %>
      </p>

      <p> <strong>Job Experience:</strong>
        <%= responder.experience.job %>
      </p>

      <p> <strong>Knowledge:</strong>
        <%= responder.experience.knowledge %>
      </p>


                  <button id="responder_message_btn">
                    <%= link_to "Message me!",
                    conversations_path(sender_id: current_user.id,
                    recipient_id: responder.id),
                    method: "post"%>
                  </button>
      <% end %>
</div>
