<div id="bio_form">

    <% @responders.each do |responder| %>
      <% if responder.experience != nil %>

        <p>
          <strong>Education:</strong>
          <%= responder.experience.education %>
        </p>

        <p>
          <strong>Job Experience:</strong>
          <%= responder.experience.job %>
        </p>

        <p>
          <strong>Knowledge:</strong>
          <%= responder.experience.knowledge %>
        </p>

      <% else %>

        <p> Sorry! This user has not yet provided any extended bio information.</p>

      <% end %>

        <button id="responder_message_btn">
          <%= link_to "Message me!",
          request_conversations_path(request_id: @request,
          sender_id: current_user.id,
          recipient_id: responder.id),
          method: "post", remote: true %>
        </button>

    <% end %>
</div>
