    <p>
    <span>Category: &emsp; </span> <%= request.category.name %> <br>

    <span>Description: &emsp; </span> <%= request.description %> <br>

    <span>Points: &emsp; </span> <%= request.points %> <br>
    </p>
    <br>
