    <p>
      <strong>Category:</strong> <%= request.category.name %>
        <br>
      <strong>Description:</strong> <%= request.description %>
        <br>
      <strong>Points:</strong> <%= request.points %>
    </p>
