<div class="about_page">

  <h1>ABOUT GROK</h1>

    <div class="about_page_container">

      <h3>Problem:</h3>

      <p>
        We live in an age where we can Google almost anything.
        But sometimes there are questions Google just can't answer
        easily, and we want to find someone to ask. What if there's
        nobody in our social circle who can answer the question?
      </p>

      <h3>Solution:</h3>

      <p>
        That's where Grok comes in: bridging gaps
        and connecting communities.
      </p>
    </div>

</div>
