<div class="about_page">

  <h1>ABOUT GROK</h1>

    <div class="about_page_container">

      <h3>grok</h3>
      <p> <strong>
      ɡräk/ <br>
      verb
      </strong> </p>

      <p> &#8226; understand (something) intuitively or by empathy. </p>

      <br>

      <p>
        Grok helps users find answers through one-on-one communication with other
        members of the Grok community, expanding the user’s reach beyond the limits
        of their personal network. By posting requests under a certain topic, users
        can have many responders who provide advice for an exchange of points. Once
        collected these points allow users to post their own requests!
      </p>

    </div>

</div>
