  <div class="responders_category_show">
    <h6>Responders</h6>
      <% request.responses.each do |response| %>
        <span><%= response.user.name %> <%= response.user.lastname %>
              <% if response.user.ratings.average(:rating) == nil %>
              
              <br>
              <span>(Rating Pending)</span>
              <% else %>
              <span> Rating: <%= '%.2f' % response.user.ratings.average(:rating) %>/5</span>
                <div class="star_ratings">
                  <div class="star_ratings" style="width: <%= response.user.ratings.average(:rating)/5.0*100.0 %>%">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                  </div>
                </div>
              <% end %>
              <br>
              <% end %>
            <br>
  </div>
