<h1>My Responses</h1>

  <div class="my-responses">
    <ul id="user_response_list">

      <li> 1 <!-- add ruby to place current responses--> </li>

      <li> 2 <!-- add ruby to place current responses--> </li>

      <li> 3 <!-- add ruby to place current responses--> </li>

    </ul>
  </div>
