<h1>My Responses</h1>

  <div class="my-responses">
    <ul>
      <li> 1 <!-- add ruby to place current responses--> </li>

      <li> 2 <!-- add ruby to place current responses--> </li>

      <li> 3 <!-- add ruby to place current responses--> </li>
    </ul>
  </div>
