/*
 *= require_self
 */


 @import "bourbon";
 @import "base/base";
 @import "neat";
 // @import "home";
 // @import "users";
 @import 'normalize';
 @import 'categories';
 @import 'users';
 @import 'responses';
 @import 'requests';
 @import 'messages';
 @import 'pages';
 @import 'user_sessions';


 html {
     background-color: #7d8faf;
     body {
         @include outer-container($max-width);
         background-image: url("grok_background_img.jpg"), linear-gradient(white, black);
         background-size: cover;
         min-height: 1800px;
         position: relative;
     }
 }
 .popupform {
     padding: 1rem 2rem;
 }
 header {
     background-color: $blue;
     height: auto;
     padding: 10px;
 }
 .navbar {
     @include outer-container($max-width);
     a > img {
         height: 40px;
         width: auto;
         float: left;
         margin: 0.4rem;
         margin-right: 2rem;
     }
     ul {
         overflow: auto;
         li > a {
             text-align: center;
             display: inline-block;
             padding: 0.2rem 0.6rem;
             border: solid white 2px;
             margin: 10px;
             float: left;
             color: white;
             &:hover {
                 border: solid $light-blue 2px;
                 color: $light-blue;
             }
             &:active {
                 background-color: darken($green, 15%);
             }
         }
     }
     .log_btns {
         text-align: center;
         float: right;
         margin: 10px;
         padding: 5px;
     }
 }
 footer {
     position: absolute;
     bottom: 0;
     height: 40px;
     width: 100%;
     background-color: $blue;
     margin: 0;
     #copyright {
         @include outer-container($max-width);
         color: $white;
         text-align: center;
         font-weight: 300;
         padding: 8px;
     }
 }
