/*
 *= require_self
 */
 @import "bourbon";
 @import "base/base";
 @import "neat";
 @import 'normalize';
 @import 'categories';
 @import 'users';
 @import 'responses';
 @import 'requests';
 @import 'messages';
 @import 'pages';
 @import 'user_sessions';
 @import 'ratings';
 @import 'activities';

 // ******************** Application Layout ********************

html {
  background-color: #7d8faf;
  body {
    @include outer-container($max-width);
    background-image: url("grok_back_image_compresssed.jpg");
    background-size: cover;
    min-height: 1700px;
    position: relative;
    background-attachment: fixed;
  }
}

.gradient_background {
  background: linear-gradient( transparent 0%, black 70%);
  background-size: cover;
  min-height: 1700px;
  height: auto;
  position: relative;
  z-index: 2;
}

.popupform {
  padding: 1rem 2rem;
 }

 // ******************** Navbar ********************

header {
  background-color: $blue;
  height: auto;
  padding: 10px;
}

.navbar {
  @include outer-container($max-width);
  a > img {
    height: 60px;
    width: auto;
    float: left;
    margin: 0.6rem;
  }
  ul {
    overflow: auto;
    li {
      margin-left: 10.5rem;
      @include media($small-screen-only) {
        display: none;
      }
      @include media($medium-screen-only) {
        margin-left: 1rem;
      }
      @include media($large-screen-up) {
      }
      a {
        text-align: center;
        display: inline-block;
        padding: 0.2rem 0.8rem;
        border: solid white 2px;
        margin: 20px;
        float: left;
        color: white;
        &:hover {
          border: solid $light-blue 2px;
          color: $light-blue;
        }
        &:active {
          background-color: darken($light-blue, 15%);
          border: solid $white 2px;
          color: $white;
        }
      }
    }
  }
  .log_btns {
    text-align: center;
    float: right;
    padding-top: 1.7rem;
    padding-right: 1rem;
  }
}

 // ******************** Footer ********************

footer {
  @include outer-container($max-width);
  position: absolute;
  bottom: 0;
  height: 5rem;
  width: 100%;
  background-color: $blue;
  margin: 0;
  z-index: 3;
  #copyright {
    color: $white;
    text-align: center;
    padding: 1.3rem;
  }
 }
