/*
 *= require_self
 */


 @import "bourbon";
 @import "base/base";
 @import "neat";
 // @import "home";
 // @import "users";
 @import 'normalize';

 @import 'categories';



 html, body{
   min-height: 1000px;
   background-color: mintcream;
   margin: 0;
 }

 .popupform{
   padding: 1rem 2rem;
 }


.navbar {
  background-color: aliceblue;
  min-width: 100%;
  height: 75px;
  padding: 10px;

          img{
            height: 50px;
            width: auto;
            float: left;
          }

         .nav_links{
                  text-align: center;

             li {
                  display: inline-block;
                  background-color: white;
                  padding: 0.2rem 0.6rem;
                  border: solid black 2px;
                  margin: 10px;
                  clear: both;
            }
            .log_btns{
                    text-align: center;
                    float: right;
                    margin: 10px;
                    padding: 5px;
              }
          }
}

footer{
      position: fixed;
      bottom: 0;
      height: 40px;
      width: 100%;
      text-align: center;
      background-color: blanchedalmond;
      margin: 0;

      #copyright{
        padding: 8px;
      }

}
