// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category_list_page{
  h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: $salmon;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    width: 100%;
    margin-top: 100px;
  }

}
.categories {
  @include outer-container($max-width);
}

#category_list {
  @include shift(1.67);
  margin-top: 80px;

  & > li {
    @include media($small-screen-only) {
        @include span-columns(5);
        @include omega(2n);

      }

    @include media($medium-screen-only) {
        @include span-columns(3);
        @include omega(3n);

      }

      @include media($large-screen-up) {
        @include span-columns(2);
        @include omega(5n);
      }

  & > a {
      text-align: center;
      font-size: 1.2rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      color: $blue;
      display: block;
      height: 8rem;
      width: 10.2rem;
      padding-top: 2.7rem;
      background-color: $green;
      margin-bottom: 1.6rem;
      border-radius: 4%;
    }
  }
}

.category_requests_show_page{
      @include outer-container($max-width);

        h1{
          font-family: 'Montserrat', sans-serif;
          font-size: 4rem;
          color: $salmon;
          text-align: center;
          padding-top: 1rem;
          padding-bottom: 1.5rem;
          width: 100%;
          margin-top: 100px;
        }
}

.category_requests_container{
      position: absolute;
      background-color: $green;
      height: 1000px;
      width: 900px;
      border-radius: 1%;
      margin-left: 150px;
      margin-right: 150px;
}

.category_active_request{
    position: relative;
    background-color: $light-green;
    height: 300px;
    width: 800px;
    border-radius: 2%;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;

      li{
        margin: 25px;
        list-style: none;
      }

      button{
        border-radius: 4%;
        background-color: $blue;
        font-size: 1.3rem;
        font-weight: 600;
        margin: 10px
      }
}
