// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.category_list {
  @include outer-container;
  padding-top: 2.5rem;
  li{
      display: block;
      height: 2.5rem;
      width: 10rem;
      background-color: peachpuff;
      margin: 5px;
  }
}
