
.user_requests_page{
    @include outer-container($max-width);
  h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: $salmon;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
    margin-top: 100px;
    background: rgba(0, 0, 0, .5);
  }
}

.requests_page_container{
  position: relative;
  background-color: $green;
  height: auto;
  min-height: 45rem;
  width: 55rem;
  border-radius: 1%;
  margin-top: 5rem;
  left: 50%;
  transform: translate(-50%, -0%);
  overflow: auto;
  }

.user_active_request{
  position: relative;
  background-color: $light-green;
  height: auto;
  width: 52rem;
  border-radius: 2%;
  margin: 25px;
  padding: 20px;

    button{
      padding: 30px;
      margin: 10px;
      border-radius: 4%;
      background-color: $blue;
      font-size: 1.3rem;
      font-weight: 600;

    }
}

#responder_bio_form_btn{


}

#bio_form{
  background-color: $white;
  width: 400px;
  height: auto;
  border-radius: 2%;
  padding: 20px;
}


.old_requests{
  position: relative;
  background-color: $light-green;
  height: auto;
  width: 52rem;
  border-radius: 2%;
  margin: 25px;
  padding: 20px;

      h2{
        text-align: center;
        padding: 20px;
        font-size: 2rem;
      }
      p{
        padding: 20px;
      }
  }

.new_request_page{
  h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: $salmon;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
    margin-top: 100px;
    background: rgba(0, 0, 0, .5);
  }
}

.new_request_form{
      background-color: $green;
      width: 600px;
      height: auto;
      border-radius: 2%;
      padding: 20px;
      margin-right: 300px;
      margin-left: 300px;
      margin-top: 50px;
}
