
.user_responses_page{
    @include outer-container($max-width);
  h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: $salmon;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    width: 100%;
    margin-top: 100px;
  }
}

.responses_page_container{
  position: absolute;
    background-color: $green;
    height: 1000px;
    width: 900px;
    border-radius: 1%;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
    overflow: hidden;
}

.user_active_responses{
    position: relative;
    background-color: $light-green;
    height: 250px;
    width: 800px;
    border-radius: 2%;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    padding: 25px;
}
