
.user_account_page{
      @include outer-container($max-width);
}

.account_page_container{
    background-color: $light-green;
    height: 1000px;
    width: 900px;
    border-radius: 1%;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
    overflow: inherit;



}
// .account_points{
//     height: 20px;
//     width: 50px;
//     border-radius: 4%;
//     float: right;
//
// }
