<h1>Categories</h1>

  <div class="categories">
    <ul id="category_list">
        <% @categories.each do |category| %>
      <li>
         <%= link_to category.name, "/" %>
         <!-- category_path is not working currently it requires :id -->
      </li>
        <% end %>
    </ul>
  </div>
