<h1>Categories</h1>

  <div class="categories">
    <ul id="category_list">
        <% @categories.each do |category| %>
      <li>
        <a href="category_path"> <%=  category.name %> </a>
      </li>
        <% end %>
    </ul>
  </div>
