
<div class="category_list_page">

<h1>CATEGORIES</h1>

  <div class="categories">
    <ul id="category_list">
        <% @categories.each do |category| %>
      <li>
         <%= link_to category.name.upcase, category_path(category)%>
      </li>
        <% end %>
    </ul>
  </div>
</div>
