<h1>Categories</h1>

  <div class="categories">
    <ul id="category_list">
      <li>Gender Studies</li>
      <li>Environment</li>
      <li>Technology</li>
      <li>Finance</li>
      <li>World News</li>
      <li>Math</li>
      <li>Travel</li>
      <li>Carpentry</li>
      <li>Film</li>
      <li>Cars</li>
      <li>Crafts</li>
      <li>Photography</li>
      <li>Pets</li>
      <li>Graphic Design</li>
      <li>Cooking</li>
      <li>Home Decor</li>
      <li>Gardening</li>
      <li>Lifehacks</li>
      <li>Computers</li>
      <li>Politics</li>
      <li>Business</li>
      <li>Sports</li>
      <li>English</li>
      <li>Music</li>
      <li>Literature</li>
      <li>History</li>
      <li>Art</li>
      <li>Science</li>
      <li>Religion</li>
      <li>Philosophy</li>
    </ul>
  </div>
