
  <h2>Notifications</h2>
    <br>
  <div class="user_notifications">
    <% @activities.each do |activity| %>
      <div class="activity">
        <%= activity.owner.name%>
        <%= render_activity activity %>
      </div>
    <% end %>

  <div class="paginate_user_notifications"> <%= paginate @activities %> </div>
</div>
