<div class="user_notifications">

  <h4>Notifications</h4>

  <% @activities.each do |activity| %>
    <div class="activity">
      <%= activity.owner.name%>
      <%= render_activity activity %>
    </div>
  <% end %>
  
</div>
